{% extends 'base.html' %} 
{% block title %} Logs {% endblock %}
{% block container %}
<div id="options" class="border">

	<form method="post" action="/device/">
		 <div class="form-group">
			<label for="device">Device select</label>
			<select class="form-control" id="device" name="device">
			{% for device in devices %}
			  <option value="{{device}}" {% if "{{current_device}}" == "{{device}}" %} selected="selected" {% endif %}>{{device}}</option>
			
			{% endfor %}  
			</select>
		
			<label for="log-type">Log type select</label>
			<select class="form-control" id="log-type" name="log-type">
				<option value="5" {% if current_type|int == 5  %} selected="selected"{% endif %}>All</option>
				<option value="0" {% if current_type|int == 0  %} selected="selected"{% endif %}>Error</option>
				<option value="1" {% if current_type|int == 1  %} selected="selected"{% endif %}>Assert</option>
				<option value="2" {% if current_type|int == 2  %} selected="selected"{% endif %}>Warning</option>
				<option value="3" {% if current_type|int == 3  %} selected="selected"{% endif %}>Log</option>
				<option value="4" {% if current_type|int == 4  %} selected="selected"{% endif %}>Exception</option>
			</select>
		</div>
		 <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<div id="logList" class="border">
	<div class="list-group" id="logs-scrollview">

		{% for log in logs %}
			<button class="item-log list-group-item {% if log["type"] == 3 %}	
													{% elif log["type"] == 0 or log["type"] == 1  or log["type"] == 4%}
														bg-danger
													{% elif log["type"] == 2 %}
														bg-warning
													{% else %}
														bg-primary
													{% endif %} 
													{% if log["id"] == 0 %} active 
													{% endif %}" id="{{log["id"]}}">{{ log["display"] }}</button>
		{% endfor %}
	</div>
</div>

<div id="content" class="border border-primary">
	<ul class="list-group"> 
	{% if logs|length > 0 %}
	<li class="list-group-item" id="log-condition"> {{logs[0].condition }}</li>
	<li class="list-group-item" id="log-stackTrace"> {{logs[0].stackTrace}} </li>
	{% endif %}
	</ul>
</div>
{% endblock %}
 
{% block javascript %} 
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	
	var logs = {{logs | tojson}};
	var view_log = function() {
		var id_item = $(this).closest(".item-log").attr("id");
		var log_item = null;
		for (var i = 0; i< logs.length; i++)
		{
			if (logs[i].id == id_item)
			{
				log_item = logs[i];
			}
		}
		if (log_item != null)
		{
			$("#log-condition").text(log_item.condition);
			$("#log-stackTrace").text(log_item.stackTrace);
			$("#logs-scrollview button").removeClass('active');
			$(this).addClass('active');
		}
		
	};
	$(document).on("click", ".item-log", view_log);
	var protocol = window.location.protocol;
	console.log(protocol);
	var socket = io();
	socket.on('connect', function() {
		console.log("connect success");
		socket.emit('join', {
			'room': "{{current_device}}"
		});
	});

	socket.on('debug-log', function(data) {
		if ({{current_type}} ==  5 || data.type == {{current_type}})
		{
			data.id = $('#logs-scrollview').children().last().attr('id') * 1 + 1;
			logs.push(data);

			if ($('#logs-scrollview button').length > 200) {
				logs.shift(data);
				$("#logs-scrollview").children().first().remove();
			}
			var btn_bg_color = "";

			if (data.type == 3) {
				btn_bg_color = "";
			} else if (data.type == 0 || data.type == 1 || data.type == 4) {
				btn_bg_color = "bg-danger";
			} else if (data.type == 2) {
				btn_bg_color = "bg-warning";
			} else {
				btn_bg_color = "bg-primary";
			}

			$("#logs-scrollview").append('<button class="item-log list-group-item ' + btn_bg_color + '" id="' + data.id + '">' + data.display + '</button>');
		}
		
	});

	socket.on('new-device', function(data) {

		var device = data.device;
		var valid = 0;
		$("#device option").each(function() {
			if (this.value == device) {
				valid = 1;
			}
		});
		if (valid == 0) {
			$('#device').append($('<option>', {
				value: data.device,
				text: data.device
			}));
		}

	});


</script>
{% endblock %}